/*body * + *{
    margin-top: 1em;
}*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
img{
    max-width: 3.5em;
    position: relative;
    top: 11px;
    left: 27px;
}
.header{
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: .35em 0 .35em 2.3em;
    color: orange;
    text-shadow: 2px 2px 5px black;
    position: fixed;
    top: -50px;
    left: 0;
    right: 0;
    z-index: -1;
}
a:link{
    text-decoration: none;
    outline: none;
}
.help{
    float: right;
    margin:1.5em 5.5em 0 0;
}
.help:hover{
    background-color: aqua;
    color: black;
    padding: .5em .5em .5em .5em;
    font-weight: bold;
}
.dash{
    position: fixed;
    left: 28.8em;
    top: .1em;
    font-size: 3rem;
    display: block
    }
.dashe{
    font-size: 3rem;
    display: block;
    position: fixed;
    top: .29em;
    left: 28.8em;
    }
marquee{
    background-color: aqua;
    position: fixed;
    right: 0;
    left: 0;
    top: 75px;
    z-index: -1;
    font-weight: bold;
}
.text{
    margin-top: 70px;
    font-size: 20px;
}
h1{
    font-size: 2rem;
    margin-left: 1em;
}
.inline{
    max-width: 10em;
    height: 10em;
    display: inline;
    object-fit: fill;
    border: 2px solid black;
}
.email:hover{
    color: red;
}