html{
    background-image: url('images/dock.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}
a:link{
    text-decoration: none;
}
img{
max-width: 3.5em;
position: fixed;
top: 19px;
left: 40px;
}
.header{
background-color: aqua;
font-family: arial, sans-serif;
font-size: 3rem;
font-weight: bold;
padding: .35em 0 .35em 2.3em;
color: orange;
text-shadow: 2px 2px 5px black;
position: fixed;
top: -50px;
left: 0;
right: 0;
z-index: -1;
}
.dash{
position: fixed;
left: 29em;
top: .3em;
font-size: 3rem;
display: block
}
.dashe{
font-size: 3rem;
display: block;
position: fixed;
top: .47em;
left: 29em;
}
.input{
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    position: relative;
    top: 5em;
    left: 27em;
    height: 40em;
    width: 35em;
 }
input{
    width: 35em;
    height: 4em;
    margin-bottom: 20px;
    padding-left: 10px;
    position: relative;
    top: 4em;
    text-transform: capitalize;
}
input:focus{
    font-weight: bold;
    outline: none;
    /*background-color: black;
    color: white;*/
}
.password{
        position: fixed;
        left: 36em;
        top: 32.3em;
}
.reset{
        position: relative;
        top: 10em;
        left: 14em;
        width: 4.4em;
        height: 2em;
}
.button{
    font-weight: bold;
    font-size: .8rem;
    position: fixed;
    top: 43em;
    left: 39.5em;
    width: 34em;
    height: 3em;
}
.sign{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; 
        font-size: 2.8rem; 
        position: relative; 
        top: 1em; 
        left: -3em;
}
.text{
        position: fixed;
        left: 33em;
        top: 38em;
}
.signup{
        position: fixed;
        left: 52em;
        top: 39.3em;
}

/*Responsive web design*/

   
@media (max-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
    html{
        background-image: url('images/windows.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100%;
    }
    body{
        overflow: auto;
    }
    .header{
        font-size: 2rem;
        padding: 1em 1em .5em 1em;
        z-index: 2;
        font-style: oblique;
    }
    img{
        display: none;
    }
    .input{
        position: relative;
        left: .2em;
        top: 5em;
        min-height: 10vh;
        max-width: 35vh;
    }
    input{
        height: 2em;
        max-width: 18em;
    }
    .password{
        position: relative;
        left: 0em;
        top: 4em;
    }
    .reset{
        position: relative;
        left: 5.5em;
        top: .5em;
    }
    .button{
        position: relative;
        left: -.1em;
        top: 8em;
        width: 15em;
    }
    .sign{
        font-size: 2rem;
        position: relative;
        left: -1em;
    }
    .text{
        position: relative;
        left: .1em;
        top: 5em;
    }
    .signup{
        position: relative;
        left: -.1em;
        top: 5em;
        font-weight: bold;
        background-color: aqua;
        padding: .3em;
        border: 1px solid black;
    }
}

@media (min-width: 321px) and (max-width: 500px) {/*smaller tablets and maybe smartphones, iphones and others*/
    body{
        overflow: auto;
    }
    img{
        width: 2.5em;
        position: fixed;
        left: 15px;
        top: 22px;
        z-index: 3;
    }
    .header{
        font-size: 2.5rem;
        padding: .7em 1em .3em 1.5em;
        position: fixed;
        z-index: 2;
    }
    .dash{
        position: fixed;
        left: 14em;
        top: .9em;
        font-size: 2rem;
        display: block;
        z-index: 3;
    }
    .dashe{
        font-size: 2rem;
        display: block;
        position: fixed;
        top: .73em;
        left: 14em;
        z-index: 3;
    }
    .input{
        position: relative;
        left: 2em;
        min-height: 80vh;
        max-width: 80vw;
        box-shadow: none;
    }
    input{
        max-width: 65vw;
        height: 3em;
    }
    .password{
        position: relative;
        left: -.0em;
        top: 4em;
    }
    .reset{
        position: relative;
        left: 20vw;
        top: .9em;
    }
    .button{
        position: relative;
        left: .1em;
        top: 7em;
        width: 64vw;
        height: 3em;
    }
    .sign{
        position: relative;
        left: -1.5em;
        font-size: 2.3rem;
    }
    .text, .signup{
        font-family: Arial, Helvetica, sans-serif;
    }
    .text{
        text-align: center;
        position: relative;
        left: -.1em;
        top: 4em;
    }
    .signup{
        position: relative;
        left: -.1em;
        top: 4em;
    }
}
